/* CSS for LDAP Tool Box Self Service Password */

html, body {
  background: #eee;
  padding-top: 20px;
  font-size: 12pt;
}

.panel, .alert, .navbar-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.panel {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}

.navbar-default {
  background-image: linear-gradient(to bottom,#fff 0,#eeeeee 100%);
}

.alert-info {
  background-image: linear-gradient(to bottom,#bbbbbb 0,#777777 100%);
  color: #ffffff;
}


img.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 45%;
}

.title h1 {
  font-size: 20pt;
}

.result p {
  font-size: 14pt;
}

.result i.fa {
  font-size: 18pt;
  margin-right: 10px;
}

.help i.fa {
  font-size: 14pt;
  margin-right: 5px;
}


